div.view div.ajax-progress {
  background: rgba(255,255,255,0.6);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9998;
}

div.view div.throbber {
  background: url("http://www.idqol.org/sites/all/modules/contrib/views_sexy_throbber/images/broken-wing.gif") no-repeat scroll 50% 50%;
  background-color: rgb(255,255,255);
  border-radius: 16px;
  height: 32px;
  left: 50%;
  margin-left: -16px;
  margin-top: -16px;
  padding: 10px;
  position: fixed;
  top: 50%;
  width: 32px;
  z-index: 9999;
}
